@model MyApplication.Models.BronTitle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>BronTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TourIncludedText" class="control-label"></label>
                <input asp-for="TourIncludedText" class="form-control" />
                <span asp-validation-for="TourIncludedText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourIncludedIcon" class="control-label"></label>
                <input id="tourIncludedIcon" accept="image/*" name="TourIncludedIcon" type="file" class="form-control" />
                <span asp-validation-for="TourIncludedIcon" class="text-danger"></span>
            </div>
            <img id="photo" style="display:none; max-width:100%" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    tourIncludedIcon.addEventListener("change", function (e) {
        var r = new FileReader();
        r.readAsDataURL(e.target.files[0])
        r.onloadend = function () {
            photo.style.display = "block";
            photo.src = r.result;
        }
    });
</script>