@model MyApplication.Models.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Service</title>
    
</head>
<body>
    <nav>


        <div class="container">



            <div class="navbar">


                <a href="#" id="menu-icon"> <i class="fas fa-bars"></i> </a>

                <a href="/About"> Haqqımızda </a>


                <a href="/Azerbaijan"> Azərbaycan </a>



                <a href="/Service"> Xidmətlər </a>



                <a href="/Event"> Coming Events </a>



                <a href="/OnlinePayment"> Online Odəniş </a>



                <a href="/Contact">
                    Əlaqə
                </a>
   
                <li class="sign">
                    <a href="https://www.facebook.com">
                        <i class="fab fa-facebook">

                        </i>
                    </a>
                    <a href="https://www.instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>

            </div>
        </div>


    </nav>

    <section id="main">

        <div class="col-sm-12">
            <img src="images/xidmetler.jpg">
            <div class="title"> XİDMƏTLƏR </div>
        </div>
    </section>


    <div class="container">
        <div class="col-md-12">
            <div class="subtitle">
                Dünyanın bütün istiqamətlərinə turizmin bütün sahələri üzrə professional xidmətlər.
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">

                    <p> “Rest Travel” Turizm Şirkəti 2017-ci il 27 iyul tarixində Mədəniyyət və Turizm Nazirliyinin lisenziyası ilə fəaliyyətə başlamış və professional xidməti ilə qısa müddət ərzində müştərilərin rəğbətini qazanmışdır. Hal - hazırda Azərbaycanda və Dünyanın bir çox ölkələrinə Turizmin İstirahət, Biznes, Müalicəvi və digər sahələri üzrə təşkilində aktiv və inkişaf edən şirkət olaraq tanınır.</p>
                </div>
            </div>

        </div>
    </div>



    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Cruiz">
                            <div class="image">
                                <img src="~/images/ship.png">
                            </div>
                            <div class="title"> Kruiz Səyahəti </div>
                            <div class="text"> Bizimlə dəniz və okeanlarda səyahət edin. Məmnunluğunuza cavabdeyik. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Transport">
                            <div class="image">
                                <img src="~/images/car.png">
                            </div>
                            <div class="title"> Transport </div>
                            <div class="text"> Ölkedaxili regionlara transfer. İstədiyiniz avtomobil ilə çatdırılma. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/GroupTour">
                            <div class="image">
                                <img src="~/images/group.png">
                            </div>
                            <div class="title">Qrup Turları</div>
                            <div class="text"> Regionlarımıza səyahəta üçün qrup turları təşkil edirik. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Vip">
                            <div class="image">
                                <img src="~/images/vip.png">
                            </div>
                            <div class="title"> VIP Xidmətləri </div>
                            <div class="text"> VİP sahəsində Azərbaycanda Nömrə 1 Servis Xidməti. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Incoming">
                            <div class="image">
                                <img src="~/images/tours.png">
                            </div>
                            <div class="title"> Daxili Turlar </div>
                            <div class="text"> Öz istrahətinizi bizə həvlə eləyin. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Health">
                            <div class="image">
                                <img src="~/images/doctor.png">
                            </div>
                            <div class="title"> Sağlamlıq Turizmi </div>
                            <div class="text"> İstrahət etmək üçün sağlam olmaq lazımdı. </div>
                        </a>

                    </div>
                </div>


                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Event">
                            <div class="image">
                                <img src="~/images/event.png">
                            </div>
                            <div class="title"> Gələcəkdə olan tədbirlər </div>
                            <div class="text"> Ölkəmizdə gələcəkdə olan tədbirlərimizdən sizdə yararlanın. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Transfer">
                            <div class="image">
                                <img src="~/images/transfer.png">
                            </div>
                            <div class="title"> Transferlər </div>
                            <div class="text"> Aeroportdan otellərə və ya istədiyiniz yerə çatdırılma. </div>
                        </a>

                    </div>
                </div>



                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Advice">
                            <div class="image">
                                <img src="~/images/help.png">
                            </div>
                            <div class="title"> Səyahət Məsləhətləri </div>
                            <div class="text"> Arzuladığınız səyahətə biz köməklik göstəririb, istiqamətlərimizi veririk. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Insuarance">
                            <div class="image">
                                <img src="~/images/protect.png">
                            </div>
                            <div class="title">Sığorta</div>
                            <div class="text"> Səyahətiniz tam təhlükəsiz keçəcək. Bunun üçün bizə güvənə bilərsiz. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/Emergency">
                            <div class="image">
                                <img src="~/images/24.png">
                            </div>
                            <div class="title"> Təcili Dəstək </div>
                            <div class="text"> İstədiyiniz vaxt bizimlə əlaqə saxlaya bilərsiz. </div>
                        </a>

                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="infos">
                        <a href="Service/HotelList">
                            <div class="image">
                                <img src="~/images/hotel.png">
                            </div>
                            <div class="title"> Otellərin Listi </div>
                            <div class="text"> Bizim otellər öz gözəlliyinnən seçilir. </div>
                        </a>

                    </div>
                </div>



            </div>
        </div>
    </section>


    @section script {
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "/Home/Footer",
                    method: "get",
                    success: function (re) {

                        $(".same").append(re.addreses);
                        $(".sameTwo").append(re.faxes);
                        $(".sameThree").append(re.numbers);
                        $(".sameFour").append(re.mails);
                        $(".sameFive").append(re.siteadress);
                        $("#titleee").append(re.title);
                        $(".longText").append(re.desciption);
                    }
                })
            })

        </script>
    }

</body>
</html>
