@model MyApplication.Models.MainPage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>MainPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TourImage" class="control-label"></label>
                <input asp-for="TourImage" class="form-control" />
                <span asp-validation-for="TourImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourName" class="control-label"></label>
                <input asp-for="TourName" class="form-control" />
                <span asp-validation-for="TourName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourPrice" class="control-label"></label>
                <input asp-for="TourPrice" class="form-control" />
                <span asp-validation-for="TourPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourTime" class="control-label"></label>
                <input asp-for="TourTime" class="form-control" />
                <span asp-validation-for="TourTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourAction" class="control-label"></label>
                <input asp-for="TourAction" class="form-control" />
                <span asp-validation-for="TourAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourDuration" class="control-label"></label>
                <input asp-for="TourDuration" class="form-control" />
                <span asp-validation-for="TourDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

